@{
    Layout = "~/Views/shared/_home.cshtml";
}

    <div class="top02">
        <ul class="tabs-menu flex flex-between">
            <li><a class="current02" href="#">Latest Campaigns</a></li>
            <li><a href="#">Promote to Network</a></li>
            <li><a href="#">Near Me</a></li>
            <li><a href="#">All Friends</a></li>
        </ul>
    </div>
    <div class="list-box flex">
        <div class="list-item">
            <div class="item-img">
                <a href="#"><img src="@Url.Content("~/content/images/item-img.png")"></a>
            </div>
            <div class="icon-like"></div>
            <h4><a href="#">Baby 1(active/mouse hover)</a></h4>
            <p class="text02">We are of the belief that 80% of crowdfunding campaigns</p>
            <p class="money">$35,899<span>of $45k</span></p>
            <div class="loading-bar">
                <div class="loading-pjbar" style="width:30%"></div>
            </div>
            <a class="local" href="#"><span></span>Traverse City , USA</a>
        </div>
        <div class="list-item">
            <div class="item-img">
                <a href="#"><img src="@Url.Content("~/content/images/item-img.png")"></a>
            </div>
            <div class="icon-like"></div>
            <h4><a href="#">Baby 1(active/mouse hover)</a></h4>
            <p class="text02">We are of the belief that 80% of crowdfunding campaigns</p>
            <p class="money">$35,899<span>of $45k</span></p>
            <div class="loading-bar">
                <div class="loading-pjbar" style="width:60%"></div>
            </div>
            <a class="local" href="#"><span></span>Traverse City , USA</a>
        </div>
        <div class="list-item">
            <div class="item-img">
                <a href="#"><img src="@Url.Content("~/content/images/item-img.png")"></a>
            </div>
            <div class="icon-like"></div>
            <h4><a href="#">Baby 1(active/mouse hover)</a></h4>
            <p class="text02">We are of the belief that 80% of crowdfunding campaigns</p>
            <p class="money">$35,899<span>of $45k</span></p>
            <div class="loading-bar">
                <div class="loading-pjbar" style="width:50%"></div>
            </div>
            <a class="local" href="#"><span></span>Traverse City , USA</a>
        </div>
        <div class="list-item">
            <div class="item-img">
                <a href="#"><img src="@Url.Content("~/content/images/item-img.png")"></a>
            </div>
            <div class="icon-like"></div>
            <h4><a href="#">Baby 1(active/mouse hover)</a></h4>
            <p class="text02">We are of the belief that 80% of crowdfunding campaigns</p>
            <p class="money">$35,899<span>of $45k</span></p>
            <div class="loading-bar">
                <div class="loading-pjbar" style="width:20%"></div>
            </div>
            <a class="local" href="#"><span></span>Traverse City , USA</a>
        </div>
        <div class="list-item">
            <div class="item-img">
                <a href="#"><img src="@Url.Content("~/content/images/item-img.png")"></a>
            </div>
            <div class="icon-like"></div>
            <h4><a href="#">Baby 1(active/mouse hover)</a></h4>
            <p class="text02">We are of the belief that 80% of crowdfunding campaigns</p>
            <p class="money">$35,899<span>of $45k</span></p>
            <div class="loading-bar">
                <div class="loading-pjbar" style="width:80%"></div>
            </div>
            <a class="local" href="#"><span></span>Traverse City , USA</a>
        </div>
        <div class="list-item">
            <div class="item-img">
                <a href="#"><img src="@Url.Content("~/content/images/item-img.png")"></a>
            </div>
            <div class="icon-like"></div>
            <h4><a href="#">Baby 1(active/mouse hover)</a></h4>
            <p class="text02">We are of the belief that 80% of crowdfunding campaigns</p>
            <p class="money">$35,899<span>of $45k</span></p>
            <div class="loading-bar">
                <div class="loading-pjbar" style="width:90%"></div>
            </div>
            <a class="local" href="#"><span></span>Traverse City , USA</a>
        </div>
    </div>
    <center>
        <button class="btn btn-loadmore">load more</button>
    </center>
